section {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  color: #fff;
}

/* reasons */
.reasons-section {
  text-align: center;
  padding: 50px 0;
}

.reasons-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.reason {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.reason i {
  color: #28a745;
  font-size: 24px;
  margin-bottom: 10px;
}
.reason-title {
    font-weight: bold; /* 加粗 */
    color: #5a8cc2; /* 蓝色 */
    margin-right: 5px; /* 右边距 */
    font-size: large;
}

.reason-text {
    margin-bottom: 10px; /* 底边距 */
}

/* ---------------------------------- */

#uploadForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border: 4px dashed #fff;
  transition: 0.3s;
}

#uploadForm:hover {
  background-color: rgb(140, 140, 140);
}

#uploadForm p {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

#uploadForm input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
Button {
  color: #fff;
  background: #16a085;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 4px !important;
  border-bottom: 4px solid #117a60;
  transition: all 0.2s ease;
  outline: none;
  margin-block: 10px !important;
}
#uploadButton:hover {
  background: #149174;
  color: #0c5645;
}
#uploadButton:active {
  border: 0;
}

@media (max-width: 576px) {
  #uploadForm {
    width: 100%;
    height: 500px;
  }
  #uploadButton {
    width: 100% !important;
  }
}

/* --- */